<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.astroevasion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/astro_evasion"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/astro_evasion"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPTProject">
        <receiver
            android:name=".ScreenOffReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".ScoreTableActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MusicService" />
    </application>

</manifest>